<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <input id='word_input' name="word_input" class="form-control" type="text" placeholder="Enter your word here">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>